<app-page-banner />
<!-- Service Details -->
<div class="service-details-area ptb-150">
    <div class="container">
        <div class="service-details-description ml-auto mr-auto">
            <!-- <img src="assets/images/services/service-details5.jpg" class="border-radius" alt="service-details-image"> -->
            <h3>
                Transforming Ideas into Exceptional Digital Solutions
            </h3>
            <p>
                At CodingEra Software Pvt. Ltd., we are more than a web design and development agency – we are your
                technology partners. With a team of passionate, skilled, and innovative professionals, we specialize in
                delivering robust, scalable, and user-centric digital solutions that empower businesses to thrive in
                today’s competitive landscape. </p>
        </div>
        <!-- <div class="service-details-features ml-auto mr-auto">
            <div class="row justify-content-center">
                @for (content of featureBox; track content) {
                <div class="col-lg-4 col-sm-6">
                    <div class="feature-box mb-25">
                        <div class="icon">
                            <i class="{{content.icon}}"></i>
                        </div>
                        <h3>
                            {{content.title}}
                        </h3>
                        <p>
                            {{content.desc}}
                        </p>
                    </div>
                </div>
                }
            </div>
        </div> -->
        <div class="service-details-content ml-auto mr-auto">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h3>
                            Why Choose CodingEra?
                        </h3>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="position-relative">
                                <i class="flaticon-check-mark-2"></i>
                                <h4>
                                    Expert Team
                                </h4>
                                <p>
                                    Our team comprises experienced developers, designers, and strategists who are
                                    committed to excellence. With expertise in cutting-edge technologies, we deliver
                                    solutions tailored to your needs.
                                </p>
                            </li>
                            <li class="position-relative">
                                <i class="flaticon-check-mark-2"></i>
                                <h4>
                                    Proven Track Record
                                </h4>
                                <p>
                                    With a portfolio of successful projects across industries, we’ve established a
                                    reputation for delivering high-quality solutions on time and within budget.
                                </p>
                            </li>
                            <li class="position-relative">
                                <i class="flaticon-check-mark-2"></i>
                                <h4>
                                    Innovative Solutions
                                </h4>
                                <p>
                                    We combine creativity and technology to design experiences that captivate users and
                                    drive results.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="image">
                        <img src="assets/images/what-we-provide/what-we-provide3.jpg" class="border-radius"
                            alt="service-details-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="service-details-benefits ml-auto mr-auto">
            <div class="row align-items-center">
                <!-- <div class="col-lg-8 col-md-12">
                    <div class="image">
                        <img src="assets/images/services/service-details3.png" class="border-radius"
                            alt="service-details-image">
                    </div>
                </div> -->
                <div class="col-lg-12 col-md-12">
                    <div class="content">
                        <h3>
                            Our Services
                        </h3>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <ul class="pl-0 mb-0 list-unstyled">
                                    <li class="position-relative">
                                        <i class="flaticon-check-mark-1"></i>
                                        <p>
                                            Custom Software Development
                                        </p>
                                        <ul>
                                            <li>Web Applications:</li>
                                            <li>Desktop Software</li>
                                            <li>Mobile Applications</li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4">
                                <ul class="pl-0 mb-0 list-unstyled">
                                    <li class="position-relative">
                                        <i class="flaticon-check-mark-1"></i>
                                        <p>
                                            Enterprise Software Solutions </p>
                                        <ul>
                                            <li>CRM Systems</li>
                                            <li>ERP Solutions</li>
                                            <li>Workflow Automation</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4">
                                <ul class="pl-0 mb-0 list-unstyled">
                                    <li class="position-relative">
                                        <i class="flaticon-check-mark-1"></i>
                                        <p>
                                            Software Testing & QA
                                        </p>
                                        <ul>
                                            <li>Manual & Automated Testing</li>
                                            <li>Performance Testing</li>
                                            <li>Security Testing</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4">
                                <ul class="pl-0 mb-0 list-unstyled">
                                    <li class="position-relative">
                                        <i class="flaticon-check-mark-1"></i>
                                        <p>
                                            SaaS Development
                                        </p>
                                        <ul>
                                            <li>Cloud-Based Solutions</li>
                                            <li>Multi-Tenant Architecture</li>
                                            <li>Subscription Management</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4">
                                <ul class="pl-0 mb-0 list-unstyled">
                                    <li class="position-relative">
                                        <i class="flaticon-check-mark-1"></i>
                                        <p>
                                            Maintenance & Support
                                        </p>
                                        <ul>
                                            <li>Regular updates and bug fixes</li>
                                            <li>24/7 technical support</li>
                                            <li>Website performance monitoring</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="service-details-benefits ml-auto mr-auto">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="image">
                        <img src="assets/images/services/service-details3.png" class="border-radius"
                            alt="service-details-image">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="content">
                        <h3>
                            Service Benefits
                        </h3>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="position-relative">
                                <i class="flaticon-check-mark-1"></i>
                                <p>
                                    It's a good time to get more about each other, share values and discuss your
                                    project.
                                </p>
                            </li>
                            <li class="position-relative">
                                <i class="flaticon-check-mark-1"></i>
                                <p>
                                    Share values and discuss your project. It's a good time to get more about each
                                    other.
                                </p>
                            </li>
                            <li class="position-relative">
                                <i class="flaticon-check-mark-1"></i>
                                <p>
                                    It's a good time to get more about each other, share values and discuss your
                                    project.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<app-testimonials />