<div class="about-area pb-150">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image position-relative text-center">
                    <img src="assets/images/about-us/about1.png" alt="about-image">
                    <img src="assets/images/about-us/clutch-badge.png" class="clutch-badge" alt="clutch-badge-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title fw-medium d-inline-block">
                        About Us
                    </span>
                    <h2>
                        <span>Delivering Creative</span> Solutions for all Digital-First Company
                    </h2>
                    <div class="text">
                        <p>
                            We at CODING ERA provide various services like Web Designing, Web Development, Software
                            Development, Mobile Application Development, Graphics Designing, and Digital Marketing. We
                            also involved in Internship Program for fresher’s as well as college students. Our expert
                            professionals understand and analyse your business needs, project requirements and marketing
                            goals to provide the best solutions. We are mainly focused on quality and on time delivery.
                            Our team consists of creative and technical professionals that include web designers, web
                            developers, graphic designers, logo designers, software programmers. We provide best
                            solutions on complex architecture to became application more user friendly. Our main aim is
                            to develop in a constant manner and become a leading performer in this competitive global
                            marketplace. Fortunately, we have been able to gather a crew of professionals that can shape
                            and mild their collective experiences, all of them possess outstanding talent that can help
                            to accelerate your organization.
                        <div class="funfacts row">
                            <div class="col-12">
                                <!-- <div class="box">
                                    <div class="number lh-1">
                                     90%
                                    </div>
                                    <p>
                                        Higher success rate
                                    </p>
                                </div> -->
                                <div class="agile-steps row">
                                    <div class="step col-4">
                                      <h3>Step 1</h3>
                                      <p>Plan</p>
                                    </div>
                                    <div class="arrow">➔</div>
                                    <div class="step">
                                      <h3>Step 2</h3>
                                      <p>Design</p>
                                    </div>
                                    <div class="arrow">➔</div>
                                    <div class="step">
                                      <h3>Step 3</h3>
                                      <p>Develop</p>
                                    </div>
                                    <div class="arrow">➔</div>
                                    <div class="step">
                                      <h3>Step 4</h3>
                                      <p>Test</p>
                                    </div>
                                    <div class="arrow">➔</div>
                                    <div class="step">
                                      <h3>Step 5</h3>
                                      <p>Release</p>
                                    </div>
                                    <div class="arrow">➔</div>
                                    <div class="step">
                                      <h3>Step 6</h3>
                                      <p>Review</p>
                                    </div>
                                  </div>
                            </div>
                            <!-- <div class="col-6">
                                <div class="box">
                                    <div class="number lh-1">
                                        95%
                                    </div>
                                    <p>
                                        Higher chance of delivery
                                    </p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>