<app-page-banner />

<!-- Blog & News -->
<div class="blog-area ptb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog1.png" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <!-- <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">02 Comments</a>
                            </li>
                        </ul> -->
                        <h3>
                            <a routerLink="/blog-details">
                                Expertise & Experience
                            </a>
                        </h3>
                        <p>
                            Codinera’s team consists of skilled professionals who are experts in their respective fields, ensuring the delivery of high-quality and reliable solutions.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog2.png" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <!-- <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">01 Comments</a>
                            </li>
                        </ul> -->
                        <h3>
                            <a routerLink="/blog-details">
                                Customer-Centric Approach:
                            </a>
                        </h3>
                        <p>
                            The company works closely with clients to understand their unique challenges and objectives, providing solutions that align with their business goals.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog3.png" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <!-- <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">03 Comments</a>
                            </li>
                        </ul> -->
                        <h3>
                            <a routerLink="/blog-details">
                                Innovative Solutions
                            </a>
                        </h3>
                        <p>
                            Codinera is constantly exploring new technologies and trends, ensuring that their services remain ahead of the curve and provide innovative solutions.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog4.png" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <!-- <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">04 Comments</a>
                            </li>
                        </ul> -->
                        <h3>
                            <a routerLink="/blog-details">
                                Internship & Growth: 
                            </a>
                        </h3>
                        <p>
                            Codinera’s internship programs provide valuable experience for aspiring developers, helping them transition from academic learning to real-world software development.                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog8.jpg" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">05 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                What we know so far about the death of Tyre
                            </a>
                        </h3>
                        <p>
                            We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog9.jpg" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">06 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                Favorite hair for site accessories, & how gets
                            </a>
                        </h3>
                        <p>
                            We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice.
                        </p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog10.jpg" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">04 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                Digital problem solving with AI generation
                            </a>
                        </h3>
                        <p>
                            We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-item mb-25">
                    <a routerLink="/blog-details" class="image d-block border-radius">
                        <img src="assets/images/blogs/blog11.jpg" class="border-radius" alt="blog-image">
                    </a>
                    <div class="content border-radius">
                        <ul class="meta pl-0 mt-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="ri-user-3-line"></i>
                                <a routerLink="/blog">Admin</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ri-message-2-line"></i>
                                <a routerLink="/blog-details">02 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                Supercomputer in added a latest features in 2024
                            </a>
                        </h3>
                        <p>
                            We contribute to the implementation of a project from step 0: we can already help our partners by giving them advice.
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div class="pagination-area text-center">
            <a routerLink="/blog" class="next page-numbers d-inline-block rounded-circle postion-relative z-1">
                <i class="ri-arrow-left-line"></i>
            </a>
            <a routerLink="/blog" class="page-numbers d-inline-block rounded-circle postion-relative z-1">
                1
            </a>
            <span class="current page-numbers d-inline-block rounded-circle postion-relative z-1" aria-current="page">
                2
            </span>
            <a routerLink="/blog" class="page-numbers d-inline-block rounded-circle postion-relative z-1">
                3
            </a>
            <a routerLink="/blog" class="page-numbers d-inline-block rounded-circle postion-relative z-1">
                4
            </a>
            <a routerLink="/blog" class="next page-numbers d-inline-block rounded-circle postion-relative z-1">
                <i class="ri-arrow-right-line"></i>
            </a>
        </div> -->
    </div>
</div>