<div class="locations-area pt-150 pb-125">
    <div class="container">
        <div class="section-title mb-25 text-center ml-auto mr-auto">
            <span class="sub-title text-white mb-0 fw-medium d-inline-block">
                Our Locations
            </span>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4">
                <div class="single-location-box border-radius mb-25">
                    <h3>
                        Email Here
                    </h3>
                    <ul class="pl-0 mb-0 mt-0 list-unstyled">

                        <li class="position-relative">
                            <i class="flaticon-email"></i>
                            <a href="mailto:">career &#64;codingera.com</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-location-box border-radius mb-25">
                    <h3>
                        Location Here
                    </h3>
                    <ul class="pl-0 mb-0 mt-0 list-unstyled">
                        <li class="position-relative">
                            <i class="flaticon-maps-and-flags"></i>
                            101,Malhar heights, Anand Park, Thakar Nagar Road, Behind Blue Ridge Mann Hinjewadi 411057
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-location-box border-radius mb-25">
                    <h3>
                        Call Here
                    </h3>
                    <ul class="pl-0 mb-0 mt-0 list-unstyled">
                        <li class="position-relative">
                            <i class="flaticon-telephone"></i>
                            <a href="tel:+91-9970611896">+91-9970611896</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>