<div class="services-area pt-150 pb-125">
    <div class="container">
        <div class="section-title mb-25 text-center ml-auto mr-auto">
            <span class="sub-title text-white mb-0 fw-medium d-inline-block">
                Our Services
            </span>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h4>
                            <span>Web Design
                            </span> Development
                        </h4>
                        <p>
                            Most users visit your website before engaging with your company! A website is the foundation
                            of your online presence, building credibility amongst customers, partners or employees. It
                            makes the purpose of your existence known to, takes them through your journey and puts what
                            you stand for in the spotlight. A great website represents your brand in its entirety. We at
                            CODING ERA provide Web Application Development and designing as per your requirement.
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Machine Learning
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Natural Language Processing
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Computer Vision
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            <span>Software Development</span>
                        </h2>
                        <p>
                            We create intuitive software applications for clients in complex domains. We have provide
                            Desktop Application Development as per your requirement. We offer Professional and
                            affordable Software Development service including Website Design and Development.
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                IT Outsourcing
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Web Application Development
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Cloud Development
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            <span>Social Media Marketing</span>
                        </h2>
                        <p>
                            We leverage the power of global platforms such as Instagram, Facebook, Twitter, LinkedIn,
                            and YouTube to enhance your brand’s online presence. Through effective social media
                            marketing strategies and campaigns, we help you reach your audience effectively through
                            community engagement and content dissemination.
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Brainstorming
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Detailed Assessment
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                E2E Solutions
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            <span>Block Chain</span>
                        </h2>
                        <p>
                            We leverage the power of global platforms such as Instagram, Facebook, Twitter, LinkedIn,
                            and YouTube to enhance your brand’s online presence. Through effective social media
                            marketing strategies and campaigns, we help you reach your audience effectively through
                            community engagement and content dissemination.
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Brainstorming
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Detailed Assessment
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                E2E Solutions
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            Mobile Application Development
                        </h2>
                        <p>
                            Android is most popular in mobile technology and highly used by people. So We provide Mobile
                            apps development by knowing the explicitly huge demand from the users.
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Data Analysis
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Data Visualization
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Data Science
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
        <div class="service-box border-radius mb-25 position-relative">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="content">
                        <h2>
                            <span>Social Media Marketing</span>
                        </h2>
                        <p>
                            We leverage the power of global platforms such as Instagram, Facebook, Twitter, LinkedIn,
                            and YouTube to enhance your brand’s online presence. Through effective social media
                            marketing strategies and campaigns, we help you reach your audience effectively through
                            community engagement and content dissemination.
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <ul class="list mb-0 mt-0 list-unstyled">
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Brainstorming
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                Detailed Assessment
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details" class="d-block position-relative fw-medium">
                                E2E Solutions
                                <i class="flaticon-right-arrow-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/service-details" mat-fab color="primary" class="service-btn">
                <i class="ri-arrow-right-up-line"></i>
            </a>
        </div>
    </div>
</div>